
    <%- text %>
    <%- text %>
    <%- text %>
    <%- text %>

<div style="display: flex; width: 50%; justify-content: space-evenly; background-color: rgb(213, 216, 19);">
    
    <p>Home</p>
    <p>Cá Nhân</p>
    <p>Market</p>
    <p>Nhom</p>
   
</div> 
